body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
.btn {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.main-section-title {
  color: #fd9222;
}
.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 1164px;
}
/* <!-- --------------HEADER----------------- --> */
.header {
}
.header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px 32px 0px;
}
.header-menu {
  display: flex;
  gap: 24px;
}
.header-menu-address {
  display: flex;
  margin-left: auto;
  gap: 14px;
}
.header-icon {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  align-items: center;
}
.header-icon:hover {
  color: #fd9222;
}
.header-icon-italic {
  font-style: italic;
}
.header-list {
}
.header-link:hover {
  color: #fd9222;
}
.header-link {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.header-list-img {
}
.header-item {
}

/* <!-- --------------HEADER----------------- --> */

/* <!-- --------------------MAIN-------------------- --> */

.hero {
}
.hero-section {
  padding-bottom: 50px;
}
.hero-conteiner {
  background-color: rgba(17, 17, 17, 0.6);
  max-width: 1164px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
  border-radius: 30px;
  padding: 380px 40px 40px 40px;
}
.hero-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 484px;
}
.hero-btn {
  display: flex;
  padding: 14px 40px;
  align-items: flex-start;
  gap: 14px;
  background-color: #fd9222;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: none;
}
.hero-item {
  display: flex;
  padding: 14px 40px;
  align-items: flex-start;
  gap: 14px;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 0.1px solid #fff;
  margin-left: 14px;
}
.hero-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-left: auto;
}

/* <!-- --------------------hero-------------------- --> */
/* <!-- --------------------Projects-------------------- --> */

.projects {
}
.projects-conteiner {
  background-color: #1e1823;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.projects-list {
  display: flex;
  padding: 50px 50px;
}
.projects-title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.projects-text {
  color: rgba(255, 255, 255, 0.7);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/* <!-- --------------------Projects-------------------- --> */
/* <!-- --------------------excertional-------------------- --> */
.excertional {
}
.excertional-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.excertional-text {
  color: #111;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.excertional-item {
}
.excertional-list {
}
.excertional-title-text {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02;
}
/* <!-- --------------------excertional-------------------- --> */
/* <!-- --------------------made-------------------- --> */
.made {
}
.made-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.made-img {
}
.made-title-text {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}
.made-item {
  list-style: outside;
}
.made-list {
}
.made-text {
  color: #111;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/* <!-- ------------------------------- -->
        <!-- --------------------PRODUCTS-------------------- --> */
.products {
}
.products-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.products-list {
}
.products-list-item {
}
.products-title-text {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.02em;
}
.products-btn {
  display: flex;
  width: 94px;
  padding: 8px 20px;
  align-items: flex-start;
  gap: 14px;
  display: flex;
  width: 94px;
  padding: 8px 20px;
  align-items: flex-start;
  gap: 14px;
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
/* <!-- ------------------------------- -->
        <!-- --------------------Sellers-------------------- --> */
.sellers {
}
.sellers-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.sellers-list {
}
.sellers-item-list {
}
.sellers-title-text {
  color: #111;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/* <!-- ------------------------------- -->
        <!-- --------------------loved-------------------- --> */
.loved {
}
.loved-title {
  color: #111;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
}
.loved-list {
}
.loved-list-item {
}
.loved-title-text {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}
.loved-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.loved-btn {
  border-radius: 100px;
  border: 1px solid #fd9222;
  display: flex;
  width: 222px;
  height: 50px;
  padding: 14px 40px;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
  flex-shrink: 0;
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.futer-form {
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  display: flex;
  width: 313px;
  height: 52px;
  padding: 14px 24px;
  align-items: flex-start;
  gap: 40px;
  display: flex;
  align-items: center;
  gap: 21.78px;
  flex: 1 0 0;
  align-self: stretch;
}
.futer {
  background: #1e1823;
}
